In [1]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp envy\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in c:\users\hp envy\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\hp envy\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp envy\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp envy\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\hp envy\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd

In [8]:
# Load the salary data into a DataFrame
salary_data = pd.read_csv('C:\\Users\\HP ENVY\\Downloads\\Python\\Total.csv')


# Display the first few rows of the data to verify
print(salary_data.head())

        EmployeeName                                        JobTitle  \
0     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay      Benefits   TotalPay  \
0  167411.18         0.0  400184.25  Not Provided  567595.43
1  155966.02   245131.88  137811.38  Not Provided  538909.28
2  212739.13   106088.18    16452.6  Not Provided  335279.91
3    77916.0    56120.71   198306.9  Not Provided  332343.61
4   134401.6      9737.0  182234.59  Not Provided  326373.19

   TotalPayBenefits  Year
0         567595.43  2011
1         538909.28  2011
2         335279.91  2011
3         332343.61  2011
4         326373.19  2011

C:\Users\HP ENVY\AppData\Local\Temp\ipykernel_16076\3426129683.py:2: DtypeWarning: Columns (2,3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  salary_data = pd.read_csv('C:\\Users\\HP ENVY\\Downloads\\Python\\Total.csv')

In [2]:
#Define the data type for columns to avoid error
dtype_col = {
    'ColumnName1' : 'str',
    'ColumnName2': 'str',
    'ColumnName3' : 'float',
    'ColoumnName4' : 'float',
    'ColumnName5' : 'float',
    'ColumnName6' : 'str',
    'ColumnName7' : 'float',
    'ColumnName8' : 'float',
    'ColumnName9' : 'int'
    
}

# Load the salary data into a DataFrame 
salary_data = pd.read_csv('C:\\Users\\HP ENVY\\Downloads\\Python\\Total.csv', dtype=dtype_col)

# Display the first few rows of the data to verify
print(salary_data.head())

NameError: name 'pd' is not defined

In [5]:
#import pandas
import pandas as pd

# Load the salary data into a DataFrame using l0w_memory=False to avoid error message
salary_data = pd.read_csv('C:\\Users\\HP ENVY\\Downloads\\Python\\Total.csv', low_memory=False)

# Display the first few rows of the data to verify
print(salary_data.head())

        EmployeeName                                        JobTitle  \
0     NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1       GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2     ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3  CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4    PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)

     BasePay OvertimePay   OtherPay      Benefits   TotalPay  \
0  167411.18        0.00  400184.25  Not Provided  567595.43
1  155966.02   245131.88  137811.38  Not Provided  538909.28
2  212739.13   106088.18   16452.60  Not Provided  335279.91
3   77916.00    56120.71  198306.90  Not Provided  332343.61
4  134401.60     9737.00  182234.59  Not Provided  326373.19

   TotalPayBenefits  Year
0         567595.43  2011
1         538909.28  2011
2         335279.91  2011
3         332343.61  2011
4         326373.19  2011

In [6]:
#To create an employee function that accepts the employee's name as input and returns details
def employee_details(employee_name):
    employee = salary_data[salary_data['EmployeeName'] == employee_name]
    if not employee.empty:
        return employee
    else:
        return f"Employee details not found: {employee_name}"

print(employee_details('NATHANIEL FORD'))

     EmployeeName                                        JobTitle    BasePay  \
0  NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY  167411.18

  OvertimePay   OtherPay      Benefits   TotalPay  TotalPayBenefits  Year
0        0.00  400184.25  Not Provided  567595.43         567595.43  2011

In [7]:
#To process the salary data using a dictionary
#Convert salary data into a dictionary using 'to_dict'
salary_dict = salary_data.to_dict(orient='records')

# Access the employee data by iterating through the list
for employee in salary_dict:
    if employee['EmployeeName'] == 'NATHANIEL FORD':
        print(employee)

{'EmployeeName': 'NATHANIEL FORD', 'JobTitle': 'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY', 'BasePay': '167411.18', 'OvertimePay': '0.00', 'OtherPay': '400184.25', 'Benefits': 'Not Provided', 'TotalPay': 567595.43, 'TotalPayBenefits': 567595.43, 'Year': 2011}

In [8]:
#Error Handling of codes
def employee_details(employee_name):
    try:
        employee = salary_data[salary_data['EmployeeName'] == employee_name]
        return employee
    except KeyError:
        return f"Error: Employee '{employee_name}' not found in the data."

print(employee_details('Keiko Weng Yee Lau'))

              EmployeeName                JobTitle BasePay OvertimePay  \
269812  Keiko Weng Yee Lau  Public Service Trainee  980.00        0.00
312879  Keiko Weng Yee Lau  Public Service Trainee    0.00        0.00

       OtherPay Benefits  TotalPay  TotalPayBenefits  Year
269812    32.48    10.13   1012.48           1022.61  2017
312879     0.00     0.00      0.00              0.00  2018

In [11]:
#To export employee details dataframe to a CSV file 
salary_data.to_csv('Total.csv', index=False, encoding='utf-8')

print('\nCsv String:\n', salary_data)

Csv String:
               EmployeeName                                        JobTitle  \
0           NATHANIEL FORD  GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1             GARY JIMENEZ                 CAPTAIN III (POLICE DEPARTMENT)
2           ALBERT PARDINI                 CAPTAIN III (POLICE DEPARTMENT)
3        CHRISTOPHER CHONG            WIRE ROPE CABLE MAINTENANCE MECHANIC
4          PATRICK GARDNER    DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...                    ...                                             ...
312877     Daniel W Plautz                          Public Service Trainee
312878    David J Thompson                                  Deputy Sheriff
312879  Keiko Weng Yee Lau                          Public Service Trainee
312880          David Wong                                  Deputy Sheriff
312881     Debora E Howard                               Recreation Leader

          BasePay OvertimePay   OtherPay      Benefits   TotalPay  \
0       167411.18        0.00  400184.25  Not Provided  567595.43
1       155966.02   245131.88  137811.38  Not Provided  538909.28
2       212739.13   106088.18   16452.60  Not Provided  335279.91
3        77916.00    56120.71  198306.90  Not Provided  332343.61
4       134401.60     9737.00  182234.59  Not Provided  326373.19
...           ...         ...        ...           ...        ...
312877       0.00        0.00       0.00          0.00       0.00
312878       0.00        0.00       0.00          0.00       0.00
312879       0.00        0.00       0.00          0.00       0.00
312880       0.00        0.00       0.00          0.00       0.00
312881       0.00        0.00       0.00          0.00       0.00

        TotalPayBenefits  Year
0              567595.43  2011
1              538909.28  2011
2              335279.91  2011
3              332343.61  2011
4              326373.19  2011
...                  ...   ...
312877              0.00  2018
312878              0.00  2018
312879              0.00  2018
312880              0.00  2018
312881              0.00  2018

[312882 rows x 9 columns]

In [17]:
#To save the file into a zipped folder
salary_data.to_pickle('Employee_Profile.zip',
                   compression='infer',
                   protocol=4)

In [18]:
#To read the zipped file
pd.read_pickle('Employee_Profile.zip')

,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year
0,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,Not Provided,567595.43,567595.43,2011
1,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,Not Provided,538909.28,538909.28,2011
2,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,Not Provided,335279.91,335279.91,2011
3,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,Not Provided,332343.61,332343.61,2011
4,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,Not Provided,326373.19,326373.19,2011
...,...,...,...,...,...,...,...,...,...
312877,Daniel W Plautz,Public Service Trainee,0.00,0.00,0.00,0.00,0.00,0.00,2018
312878,David J Thompson,Deputy Sheriff,0.00,0.00,0.00,0.00,0.00,0.00,2018
312879,Keiko Weng Yee Lau,Public Service Trainee,0.00,0.00,0.00,0.00,0.00,0.00,2018
312880,David Wong,Deputy Sheriff,0.00,0.00,0.00,0.00,0.00,0.00,2018
312881,Debora E Howard,Recreation Leader,0.00,0.00,0.00,0.00,0.00,0.00,2018